<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.revature.java.najib.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>com.revature.java.najib.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ApplicationServlet</servlet-name>
    <servlet-class>com.revature.java.najib.servlets.ApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationServlet</servlet-name>
    <url-pattern>/employeeform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalSerlvlet</display-name>
    <servlet-name>ApprovalSerlvlet</servlet-name>
    <servlet-class>com.revature.java.najib.servlets.ApprovalSerlvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalSerlvlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalTwoServlet</display-name>
    <servlet-name>ApprovalTwoServlet</servlet-name>
    <servlet-class>com.revature.java.najib.servlets.ApprovalTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalTwoServlet</servlet-name>
    <url-pattern>/approval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalThreeServlet</display-name>
    <servlet-name>ApprovalThreeServlet</servlet-name>
    <servlet-class>com.revature.java.najib.servlets.ApprovalThreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalThreeServlet</servlet-name>
    <url-pattern>/ApprovalThreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalOneServlet</display-name>
    <servlet-name>ApprovalOneServlet</servlet-name>
    <servlet-class>com.revature.java.najib.servlets.ApprovalOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalOneServlet</servlet-name>
    <url-pattern>/ApprovalOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckStatusServlet</display-name>
    <servlet-name>CheckStatusServlet</servlet-name>
    <servlet-class>com.revature.java.najib.servlets.CheckStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStatusServlet</servlet-name>
    <url-pattern>/CheckStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.revature.java.najib.servlets.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/ajaxRequest</url-pattern>
  </servlet-mapping>
</web-app>